export SHELL=/bin/sh
export MIGRATION_FILE_NAME=create_table_movimientos
export DB=sofka_test
export DB_USER=sofka_test_user
export DB_PASSWD=018f9d54-2dff-72e4-9ba1-8497f2b9f72c
export DB_HOST=192.168.100.35
export DB_DSN="postgres://"${DB_USER}":"${DB_PASSWD}"@"${DB_HOST}"/"${DB}"?sslmode=disable"
export GOTO=1

